<!-- Content -->
<div class="container">
    <div class="row">
    <div class="col-sm-6"><!-- Text Area -->
        <div class= "well well-sm" >
        <div class="inside inside-full-height">
        <p style="margin-left: 50">
        Your interview has ended beacuse of an unexpected behaviour.
        <br>The interview coordinator will get in touch with you shortly for some more feedback. 
        <br><br>
        Thank you for your time and patience.
        </p>  
        {{errorMessage}}
        <button ng-click="window.close()" class="btn btn-default btn-block">Exit Solomon</button>
        </div>   
        </div>

    </div> <!-- End Text Area -->
    <!-- Visualization Area -->
    <div class="col-sm-6">
        <div class= "well well-xs">
        <img class="img-responsive" src="images/tamu_logo.png" alt="Chania">
        </div>
    </div>
    <!-- End Visualization Area -->
    </div>
    {{Name}}
</div>
<!-- End Content -->