<br>

Add new Health State
<hr>
<md-content layout-padding>
<div class= "well">
<form name="hSForm">
<!--
<md-input-container>
<label>Category (Optional)</label>
<input ng-model="user.title">
</md-input-container>
-->
<md-input-container md-no-float  class="md-block">
<label>Health State Description</label>
<textarea ng-model="hs.description" md-maxlength="255" rows="5" md-select-on-focus></textarea>
</md-input-container>
</form>
</div>
</md-content>

<button type="button" class="btn btn-outline-primary">Add</button>